<div class="header">
    <div class="top-header">
        <div class="wrap">
            <div class="header-left">
                <ul>
                    <li><a href="#">24x7 Customer Care  </a></li> |
                    <li><a href="order"> Track Order</a></li>
                </ul>
            </div>
            <div class="header-right">
                <ul>
                    <li>
                        <i class="user"></i>
                        <a href="account">My Account</a>
                    </li>
                    <li class="login">
                        <i class="lock"></i>
                        <a href="login">Login</a>|
                    </li>
                    <li>
                        <i class="cart"></i>
                        <a href="#">Shopping Cart</a>
                    </li>
                    <li class="last">5</li>
                </ul>
                <div class="sign-up-right">
                    <a href="login">Sign Up</a>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="wrap">
        <div class="header-bottom">
            <div class="logo">
                <a href="index"><img src="images/logo.jpg" class="img-responsive" alt="" /></a>
            </div>
            <div class="search">
                <div class="search2">
                    <form>
                        <input type="submit" value="">
                        <input type="text" value="Search for a product, category or brand" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search for a product, category or brand';}"/>
                    </form>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>